@using pluton.web.Helpers

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Grid.css")" />
}
<div class="container-fluid">
    @Html.Grid("User")
</div>

@section scripts {
    @Scripts.Render("~/bundles/grid")
}
