<nav id="menu-left" class="mm-menu mm-horizontal mm-ismenu">
    <ul class="mm-list mm-panel mm-opened mm-current" id="mm-m0-p0">

        <div id="pm_task">
            <input type="submit" onclick="javascript: window.open('taskView.aspx')" value="New Task">
        </div>

        <li class="pm_item1"><a href="/app/openTaskGrid.aspx">Current tasks</a></li>

        <li class="pm_item2"><a href="/app/taskTimeline.aspx">Task timeline</a></li>

        <li class="pm_item3"><a href="/app/selectEmployee.aspx">Personel timeline</a></li>

        <li class="pm_item4"><a href="/app/productivityReports.aspx">Labor efficiency</a></li>

        <li class="pm_item5"><a href="/app/productivityByEmployee.aspx">Personel labor efficiency</a></li>

        <li class="pm_item7"><a href="/app#">Schedule management</a></li>

        <li class=""><a href="/app/multitaskview.aspx">New tasks in bulk</a></li>

        <li class=""><a href="/app/manageOrganizations.aspx">Organizational units</a></li>



        <div style="clear: both;"></div>
        <div id="orgFilter" style="float: left;">
        </div>
    </ul>
</nav>
