<div class="spacer"></div>
<div id="footer">
    <p>
        <a href="mailto:support@pge.plutonapp.com">Skontaktuj się z administratorem systemu</a>
        |
        <a href="/app/userProfile.aspx">Mój profil użytkownika</a>
    </p>
    <div class="logoapp"></div>
    <div class="clear"></div>
    <div class="copyright">
        Copyright &copy; 2013. All rights reserved. <a href="/disclaimer.aspx">Warunki korzystania z systemu</a>
    </div>
</div>
