<div id="header">
    <div id="topwrapper">
        <div id="logowrapper">
            <a href="@Url.Action("Index", "Home")">
                <div class="logo"></div>
            </a>
            <a href="#menu-left">
                <div id="mobnav"></div>
            </a>
        </div>
        <a href="@Url.Action("LogOff", "Account")">
            <div class="logout"></div>
        </a>
    </div>
</div>
